## For kaggle fake news experiment
jupyterlab
ipython
pandas
transformers
accelerate
scikit-learn
matplotlib
seaborn
nltk
wordcloud
babel
numpy
datasets

--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1

## For NLI + scraping
googlesearch-python
google-api-python-client
lxml
bs4
requests
sentence_transformers
inference-tools
fastapi
pydantic
uvicorn
python-dotenv
elasticsearch