.article-card {
    height: 400px;
    width: 700px;
}

.input-container {
    display: flex;
}

.input {
    width: 100%;
}

.width-500 {
    width: 500px;
}

.submit-button {
    margin: 16px;
    margin-top: 0px;
}