<div *ngIf="isLoading" [@slideInOutLoader]>
    <div class="loader-container">
        <div class="loader-item">
            <mat-icon>summarize</mat-icon> Summarizing <mat-spinner class="mini-spinner" diameter="16" color="accent"
                *ngIf="!job1done"></mat-spinner> <mat-icon *ngIf="job1done" class="checkbox">check_box</mat-icon>
        </div>
        <div class="loader-item not-done" [class.not-done]="!job2">
            <mat-icon>colorize</mat-icon> Extracting entities <mat-spinner class="mini-spinner" diameter="16"
                color="accent" *ngIf="!job2done && job2"></mat-spinner> <mat-icon *ngIf="job2done"
                class="checkbox">check_box</mat-icon>
        </div>
        <div class="loader-item not-done" [class.not-done]="!job3">
            <mat-icon>sentiment_satisfied</mat-icon> Analyzing sentiment <mat-spinner class="mini-spinner" diameter="16"
                color="accent" *ngIf="!job3done && job3"></mat-spinner> <mat-icon *ngIf="job3done"
                class="checkbox">check_box</mat-icon>
        </div>
        <div class="loader-item not-done" [class.not-done]="!job4">
            <mat-icon>travel_explore</mat-icon> News feed claim check <mat-spinner class="mini-spinner" diameter="16"
                color="accent" *ngIf="!job4done && job4"></mat-spinner> <mat-icon *ngIf="job4done"
                class="checkbox">check_box</mat-icon>
        </div>
        <div class="loader-item not-done" [class.not-done]="!job5">
            <mat-icon>calculate</mat-icon> Calculation credibility <mat-spinner class="mini-spinner" diameter="16"
                color="accent" *ngIf="!job5done && job5"></mat-spinner> <mat-icon *ngIf="job5done"
                class="checkbox">check_box</mat-icon>
        </div>
    </div>
    <mat-progress-bar mode="determinate" [value]="loaderValue" color="accent"></mat-progress-bar>
</div>

<div class="container" *ngIf="!isLoading" [@slideInOutInput]>
    <div class="input-container">
        <mat-card class="article-card">
            <mat-card-header>
                <mat-card-title>Analyse</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="form">
                    <mat-form-field class="input">
                        <mat-label>Enter URL, #Hashtag, @Username or Tweet.</mat-label>
                        <textarea matInput [formControl]="articalFormControl" rows="10"></textarea>
                        <mat-error *ngIf="articalFormControl.hasError('required')">
                            Input is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button type="submit" color="accent" class="submit-button"
                    (click)="onSubmit()">Analyse</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>